{% extends "layout.html" %}

{% block title %}
    Implement a Policy
{% endblock %}

{% block main %}

Current Resources Available: <br>
Bed Capacity: {{user['bedcap']}}<br>
Occupied Beds: {{user['occupied']}} <br>
Available Beds: {{(user['bedcap'] - user['occupied'])}} <br>
Patients in Queue: {{patientcount[0]['cnt']}} <br>

<br><br>

Admitted Patients:<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Age</th>
      <th scope="col">Symptoms</th>
      <th scope="col">Preexisting Condition</th>
    </tr>
  </thead>
  <tbody>
    {% for patient in candidates %}
      <tr>
        <td>{{ patient.patient_id }}</td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.corona_symptom }}</td>
        <td>{{ patient.pre_existing_condition }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
Choose a policy to implement<br>
<form action="/queue" method="post">
        Policy Name(s):
          <select name = "policyname"
            class="form-control">
            <option disabled selected value="">Policy Name</option>
            {% for name in names %}
              <option value={{name['name']}}>{{name['name']}}</option>
            {% endfor %}
          </select>
          Number of Patients to Admit:
              <input autocomplete="off" autofocus class="form-control" name="admitlen" placeholder="0"
              type="number" min="0" step="1" max={{max}}>
<br><br>
        <button class="btn btn-primary" type="submit">Fetch Candidates</button>
</form>

{% endblock %}
