{% extends "layout.html" %}

{% block title %}
    Implement a Policy
{% endblock %}

{% block main %}

Choose a policy to implement<br>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
    </tr>
  </thead>
  <tbody>
    {% for patient in candidates %}
      <tr>
        <td>{{ patient.patient_id }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


<form action="/queue" method="post">
        Policy Name(s):
          <select name = "policyname"
            class="form-control">
            <option disabled selected value="">Policy Name</option>
            {% for name in names %}
              <option value={{name['name']}}>{{name['name']}}</option>
            {% endfor %}
          </select>
<br><br>
        <button class="btn btn-primary" type="submit">Fetch Candidates</button>
</form>
{% endblock %}
